@charset "UTF-8";

@import 'responsive';

* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    text-decoration: none;
}

img {
    width: 100%;
}

section {
    .__inner {
        @include r(padding, 100 150, 100 150, 100 20 0 20);
        width: 100%;
        h1 {
            @include r-font( 40, 40, 40);
            text-align: center;
            @include r(margin-bottom, 50, 50, 50);
        }
        .container {
            @include r(margin-bottom, 100, 100, 100);
            h2 {
                @include r-font( 32, 32, 28);
                @include r(margin-bottom, 30, 30, 30);
            }
            .content {
                @include r(margin-bottom, 50, 50, 50);
                .-text__wrap {
                    h3 {
                        @include r-font( 24, 24, 18);
                        @include r(margin-bottom, 20, 20, 20);
                    }
                    p {
                        @include r-font( 20, 20, 14);
                        @include r(margin-bottom, 20, 20, 20);
                    }
                }
                .-img__wrap {
                    @include r(width, 100%, 100%, 100%);
                }
            }
        }
    }
}